{% if MATOMO_URL and MATOMO_SITE_ID %}
<script type="text/javascript">
    {% if MATOMO_SSL_URL %}
    var pkBaseURL = "{{ MATOMO_SSL_URL }}";
    {% else %}
    var pkBaseURL = "{{ MATOMO_URL }}";
    {% endif %}
    var _paq = _paq || [];
    _paq.push(["trackPageView"]);
    _paq.push(["enableLinkTracking"]);
    (function() {
        var u=(("https:" == document.location.protocol) ? "https" : "http")+"://"+pkBaseURL+"/";
        _paq.push(["setTrackerUrl", u+"piwik.php"]);
        _paq.push(["setSiteId", "{{ MATOMO_SITE_ID }}"]);
        var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
        g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
    })();
</script>
{% endif %}
