<form name="sentComment" id="commentForm" action="script.php" novalidate>
    <div class="control-group">
        <div class="form-group floating-label-form-group controls">
           <label for="title">You are sending a comment for article:</label><br>
           <input type="text" id="title" name="title" value="{{ article.metadata.title }}" readonly><br><br>
        </div>
    </div>
    <div class="control-group">
        <div class="form-group floating-label-form-group controls">
           <label for="fname">Name:</label><br>
           <input type="text" class="form-control" id="fname" name="fname" required data-validation-required-message="Please enter your name."><br>
           <small>This field is mandatory</small><br><br>
           <p class="help-block text-danger"></p>
        </div>
    </div>
    <div class="control-group">
        <div class="form-group floating-label-form-group controls">
           <label for="web">Website:</label><br>
           <input type="text" class="form-control" id="web" name="web"><br>
           <small>This field is optional</small><br><br>
           <p class="help-block text-danger"></p>
        </div>
    </div>
    <div class="control-group">
        <div class="form-group floating-label-form-group controls">
           <label for="msg">Comment:</label><br>
           <input type="text" class="form-control" id="msg" name="msg" required data-validation-required-message="Please enter your message."><br>
           <small>This field is mandatory</small><br><br>
           <p class="help-block text-danger"></p>
        </div>
    </div>
    <br>
    <div id="success"></div>
    <button type="submit" class="btn btn-primary" id="sendCommentButton">Submit</buton>
</form>
