<form action="script.php">
    <label for="title">You are sending a comment for article:</label><br>
       <input type="text" id="title" name="title" value="{{ article.metadata.title }}" readonly><br><br>
    <label for="fname">Name:</label><br>
       <input type="text" id="fname" name="fname" required><br>
       <small>This field is mandatory</small><br><br>
    <label for="web">Website:</label><br>
       <input type="text" id="web" name="web"><br>
       <small>This field is optional</small><br><br>
    <label for="msg">Comment:</label><br>
       <input type="text" id="msg" name="msg" required><br>
       <small>This field is mandatory</small><br><br>
    <input type="submit" value="Submit">
</form>
