<section class='footer'>
        <div class='container'>
            <div class='row'>

                {# Left footer column #}
                <div class='six columns'>
                    <ul class='sitenav'>
                    <li><a href="{{ SITEURL }}/{{ page.url }}">Titolo 1</a></li>
                    </ul>
                </div>
                {# /Left footer column #}

                {# Right footer column #}
                <div class='six columns smalltext'>
                    <p>
                    <div class='badge'>
                        <a class='badge-logo' target="_blank" rel="license" title='GPLv3.0' href="http://www.gnu.org/licenses/gpl-3.0.html">
                            <img alt="GPLv3.0" src="{{ SITEURL }}/theme/images/gplv3-88x31.png">
                        </a>
                    </div>

                    <div class='badge clearfix'>
                        <a class='badge-logo' target="_blank" rel="license" href="https://creativecommons.org/licenses/by-nc-nd/4.0/">
                            <img alt="Creative Commons License" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png"></a>
                        </a>
                        <div class='badge-text'>
                            {{ 'Unless otherwise stated, contents of this website are licensed '|gettext(DEFAULT_LANG) }}<a rel="license" target="_blank" href="https://creativecommons.org/licenses/by-nc-nd/4.0/">{{ 'Creative Commons BY-NC-SA 3.0 License'|gettext(DEFAULT_LANG) }}</a>.
                        </div>
                    </div>

                </div>
                {# /Right footer column #}
            </div>
            
            {# Bottom disclaimer #}
            <div class='row pixlslove'>
                <div class='four columns offset-by-four'>
                        <p class="copyright text-muted">
                                {{ 'Blog powered by'|gettext(DEFAULT_LANG) }} <a href="http://getpelican.com">Pelican</a>,
                                {{ 'which takes great advantage of'|gettext(DEFAULT_DOC) }} <a href="http://python.org">Python</a>.<br>
                                {{ 'Build Framework & Graphic theme: '|gettext(DEFAULT_LANG) }} <a href="{{ SITEURL }}/zeta.html"><strong>Z</strong></a><br>
                                &copy; {{ COPY_DATE }}{{ DCOPY_DATE}} {{ AUTHOR }} ({{ 'All rights reserved'|gettext(DEFAULT_LANG) }})
                        </p>
                </div>
            </div>
            {# /Bottom disclaimer #}

        </div>
    </section>
